
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Playwright
/playwright/.auth/

# Test Screenshots 
/screenshots/**/*
!/screenshots/**/
!/screenshots/**/.gitkeep
!/screenshots/**/README.md
allure-results/
reports/
screenshots/

