
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/allure-results/
/src/regions/ZA/screenshots
/src/regions/GH/screenshots
/src/regions/ZA/reports
/src/regions/GH/reports